{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}
{% block css %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    {% endblock css %}
    {% block content %}

	<div class="container mt-5">
		<h2>Your Cart</h2>
	</div>
	<div class="container">
		<div class="carts_top_btn_div">
			<a class="btn btn-warning btn-sm" href="/cart/">In Cart</a>
			<a class="btn btn-warning btn-sm" href="/cart/pending/">Pending</a>
			<a class="btn btn-warning btn-sm" href="/cart/processing/">Processing</a>
			<a class="btn btn-warning btn-sm" href="/cart/completed/">Completed</a>
			<a class="btn btn-warning btn-sm" href="/cart/cancelled/">Cancelled</a>
		</div>
	</div>
	{% if products %}
	<!-- Shopping Cart -->
	<div class="shopping-cart section mt-5">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Shopping Summery -->
					<div class="cart_table_main_div">
					<table class="table shopping-summery">
						<thead>
							<tr class="main-hading">
								<th class="text-center">Sno</th>
								<th class="text-center">Product</th>
								<th class="text-center px-5">Name</th>
								<th class="text-center">Brand</th>
								<th class="text-center">Color</th>
								<th class="text-center">Price/Piece</th>
								<th class="text-center px-5">Qty/Piece</th>
								<th class="text-center px-5">Product Total</th>
								<th class="text-center"><i class="bi bi-trash-fill"></i></th>
							</tr>
						</thead>
						<tbody>
							{% for product in products %}
							<tr id="remove_{{product.id}}">
								<td class="text-center" data-title="Sno">{{forloop.counter}}</td>
								<td class="image" data-title="Product">
									<img src="/media/{{product.image}}/" height="40" width="40" alt="">
								</td>
								<td class="product-des text-center" data-title="Name">
									<p class="product-des">{{product.name}}</p>
								</td>
								<td class="product-des text-center" data-title="Brand">
									<p class="product-des"><a style="color: black;" href="/brand/{{product.brand}}/">{{product.brand}}</a></p>
								</td>
								<td class="product-des text-center" data-title="Color">
									<p class="product-des"><a style="color: black;" href="/color/{{product.color}}/">{{product.color}}</a></p>
								</td>
								{% for perproduct in perproducts %}
								{% if forloop.counter == forloop.parentloop.counter %}
									<td class="price text-center" data-title="Price/Box">Rs. <span id="pp_{{product.id}}">{{perproduct}}</span></td>
									<td class="qty text-center" data-title="Qty/Piece">
								{% endif %}
								{% endfor %}
									<!-- Input Order -->
										{% for prodquan in prodQuan %}
										{% if forloop.counter == forloop.parentloop.counter %}
										<div class="input-group" style="max-width:166px;margin:auto">
											<span class="input-group-btn">
												<button class="btn btn-white btn-minuse" type="button" id="minus_{{product.id}}" onclick="minus(`{{product.id}}`)">-</button>
											</span>
											<input type="number" class="form-control no-padding add-color text-center height-25" id="input_{{product.id}}" value="{{prodquan}}" disabled>
											<span class="input-group-btn">
												<button class="btn btn-red btn-pluss" type="button" id="plus_{{product.id}}" onclick="plus(`{{product.id}}`)">+</button>
											</span>
										</div>
										{% endif %}
										{% endfor %}
									<!--/ End Input Order -->
								</td>
								{% for total in totals %}
								{% if forloop.counter == forloop.parentloop.counter %}
								<td class="total-amount text-center" data-title="Product Total">Rs. <span id="t_{{product.id}}">{{total}}</span></td>
								{% endif %}
								{% endfor %}
								<td class="action text-center" data-title="Remove"><a class="a_other" id="remove_ico_{{product.id}}" href="#" onclick="deletes(`{{product.id}}`)"><i class="bi bi-trash"></i></a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
					<!--/ End Shopping Summery -->
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<!-- Total Amount -->
					<div class="total-amount">
						<div class="row">
							<div class="col-lg-8 col-md-5 col-12">
								<div class="left">
								</div>
							</div>
							<div class="col-lg-4 col-md-7 col-12">
								<div class="right">
									<div class="button5" id="loader">
										<button onclick="total()" id="checkout_btn" class="btn btn-warning">Add To Checkout</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--/ End Total Amount -->
				</div>
			</div>
		</div>
	</div>
	{% else %}
	<div class="container">
		<h3 class="container mx-3 my-4 mb-5">
			You Don't Have Any Products In Your Cart
		</h3>
	</div>
	{% endif %}
	<!--/ End Shopping Cart -->
			
	<!-- Start Shop Services Area  -->
	<section class="shop-services section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-rocket"></i>
						<h4>Free shiping</h4>
						<p>Orders over Rs.1000</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-reload"></i>
						<h4>Free Return</h4>
						<p>No Time Limit</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-lock"></i>
						<h4>Sucure Payment</h4>
						<p>100% secure payment</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-tag"></i>
						<h4>Best Peice</h4>
						<p>Guaranteed price</p>
					</div>
					<!-- End Single Service -->
				</div>
			</div>
		</div>
	</section>
	<!-- End Shop Newsletter -->
	<br>
    {% endblock content %}
    {% block js %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
		
		function minus(id){
			if (parseInt(document.getElementById("input_"+id).value) > 1) {
				$('#minus_'+id).attr("disabled", true)
				$('#plus_'+id).attr("disabled", true)
				document.getElementById("input_"+id).value = parseInt(document.getElementById("input_"+id).value) - 1;
				addcart(id);
			}
		}
		
		function plus(id){
			$('#minus_'+id).attr("disabled", true)
			$('#plus_'+id).attr("disabled", true)
			document.getElementById("input_"+id).value = parseInt(document.getElementById("input_"+id).value) + 1;
			addcart(id);
		}
		


		
function addcart(id) {
	$('#checkout_btn').attr("disabled", true)
	var token = '{{ csrf_token }}';
	var formData = new FormData()
	formData.append('id', id)
	formData.append('quantity', parseInt(document.getElementById("input_"+id).value))
	$.ajax({
		url: "/add-to-cart/",
		type: 'POST',
		data: formData,
		headers: { 'X-CSRFToken': token },
		processData: false,
		contentType: false,
		success: function (response) {
			$('#minus_'+id).attr("disabled", false)
			$('#plus_'+id).attr("disabled", false)
			$('#checkout_btn').attr("disabled", false)
			document.getElementById("t_"+id).innerText = response['pp'];
			},
		failure: function () {
		  swal.fire({
			  title: `Failure`,
			  text: "Something Went Wrong Please Try Again Later!",
			  icon: "error",
			})
		}
	})
  }





  function deletes(id) {
	  let output = `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>`
	$('#remove_ico_'+id).html(output)
	var token = '{{ csrf_token }}';
	var formData = new FormData()
	formData.append('id', id)
	formData.append('quantity', parseInt(document.getElementById("input_"+id).value))
	$.ajax({
		url: `/delete/${id}/`,
		type: 'POST',
		data: formData,
		headers: { 'X-CSRFToken': token },
		processData: false,
		contentType: false,
		success: function (response) {
			const values = response['data']
			if (values == true){
				document.getElementById('remove_'+id).style.display = 'none';
				document.getElementById("lblCartCount").innerHTML = response['len']
			}
			},
		failure: function () {
		  swal.fire({
			  title: `Failure`,
			  text: "Something Went Wrong Please Try Again Later!",
			  icon: "error",
			})
		}
	})
  }







		
function total() {
	let output = `<button class="btn btn-warning" type="button" disabled>
		<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
		Adding...
	  </button>`
	  document.getElementById('loader').innerHTML = output
	var token = '{{ csrf_token }}';
	$.ajax({
		url: "/total/",
		type: 'POST',
		data: '',
		headers: { 'X-CSRFToken': token },
		processData: false,
		contentType: false,
		success: function (response) {
			let values = response['data']
			if (values == true){
				document.getElementById('loader').innerHTML = `
				<button onclick="total()" class="btn btn-warning">Add To Checkout</button>`
				swal.fire({
				title: 'Total',
				icon: 'info',
				html: `Cart SubTotal: &nbsp&nbsp Rs: ${response['carttotal']} <br> You Save:
				&nbsp&nbsp Rs: ${response['save']}(${response['percent']}%) <br> Your Total: 
				&nbsp&nbsp Rs: ${response['total']}`,
				showCloseButton: true,
				focusConfirm: false,
				confirmButtonText: 'Checkout',
			  }).then((result) => {
				if (result.isConfirmed) {
				  window.location.href = '/checkout/'
				}
			  })
				}
			else{
				swal.fire({
					title: `Total Error`,
					text: "Continue To Checkout!",
					icon: "error",
					button: "<a href='/checkout/'>Checkout</a>",
					})
				}
			},
		failure: function () {
		  swal.fire({
			  title: `404`,
			  text: "Something Went Wrong Please Try Again Later!",
			  icon: "error",
			})
		}
	})
  }
	</script>
	{% endblock js %}